[Unit]
Description=PumaApp
After=network.target
After=mongod.service
[Service]
Type=simple
WorkingDirectory=/home/tjoker/reddit/
ExecStart=/usr/local/bin/pumactl start
[Install]
WantedBy=multi-user.target
